.main_all_article {
    margin-bottom: 7em;
}

.txt_article {
    font-size: 1.2em;
}

.btn_read {
    background-color: rgb(214, 214, 214);
    padding: 0.5em;
    font-size: 0.6em;
}

.all_btn {
    margin-top: 2em;
}

.btn {
    font-size: 0.8em;
    padding: 0.5em;
    background-color: rgba(115, 255, 255, 0.929);
    color:black;
    border: solid 2px black;
    border-radius: 7%;
    margin: 1em;
    text-decoration: none;
}


@media (min-width:680px) {
    
}


@media (min-width:1000px) {
    .txt_article {
        font-size: 1.2em;
    }

    .btn_read {
        background-color: rgb(214, 214, 214);
        padding: 0.5em;
        font-size: 0.7em;
    }
}