{% extends 'base.html' %}

{% block title %}
    <title> Accueil de BlogItium </title>
{% endblock %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">

    <h2 style="text-decoration:underline;"> Voici Nos Articles : </h2>

    {% for post in posts %}
    <div class="main_all_article">
        <article class="txt_article">
            <h3> {{post.title}} </h3>
            <h5> Publié par <i> {{post.author_or_default}} </i> le {{post.created_on}} </h5>
            <p> {{post.content|safe|truncatewords:30}} </p>
        </article>

        <form action="{% url 'posts:post' slug=post.slug %}">
            <button class="btn_read"> Lire l'article </button>
        </form>
        
        {% if request.user.is_authenticated %}
            <div class="all_btn">
                <a class="btn" href="{% url 'posts:edit' slug=post.slug %}"> Modifier </a>
                <a class="btn" href="{% url 'posts:delete' slug=post.slug %}"> Supprimer </a>
            </div>
        {% endif %}
    </div>

    {% endfor %}

{% endblock %}